<a href="https://colab.research.google.com/github/BikramAI-eng/PYTHOnASSIgnment/blob/main/Assignment_lab_LOOPING_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
# 1. Check if a number is prime or not

n = int(input("Enter a number: "))

if n >= 0:
    is_prime = n > 1 and all(n % i != 0 for i in range(2, int(n**0.5) + 1))
    print("\nIs", n, "a prime number?", is_prime)
else:
    print("Invalid input. Please enter a non-negative integer.")

Enter a number: 9

Is 9 a prime number? False

In [49]:
# 2. Print even numbers from 1 to 100

print("Even numbers from 1 to 100:")
for i in range(2, 101, 2):
    print(i, end=' ')
print()

Even numbers from 1 to 100:
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [50]:
# 3. Factorial using while loop

n = int(input("Enter a number"))
fact = 1
i = 1
while i <= n:
    fact *= i
    i += 1
print(" Factorial of", n, "is:", fact)

Enter a number6
 Factorial of 6 is: 720

In [51]:
# 4. Multiplication table of a number

n = int(input("Enter a number:"))
print(f"4. Multiplication Table of {n}:")
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

Enter a number:9
4. Multiplication Table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [52]:
# 5. Find max and min in a list

lst = [3, 9, 1, 5, 8]
print("Maximum value:", max(lst))
print("Minimum value:", min(lst))

Maximum value: 9
Minimum value: 1

In [53]:

# 6. Count positive, negative, and zero in a list

numbers = [1, -2, 0, 5, -10 , -1, 0, 3, -4, 2, 0]
pos = neg = zero = 0
for num in numbers:
    if num > 0:
        pos += 1
    elif num < 0:
        neg += 1
    else:
        zero += 1
print("Positives:", pos, "Negatives:", neg, "Zeros:", zero)

Positives: 4 Negatives: 4 Zeros: 3

In [54]:
# 7. Fibonacci sequence up to n terms

n = int(input("Enter a number"))
a, b = 0, 1
print("First", n, "terms of Fibonacci:", end=' ')
for _ in range(n):
    print(a, end=' ')
    a, b = b, a + b
print()

Enter a number6
First 6 terms of Fibonacci: 0 1 1 2 3 5

In [55]:
# 8. Check if a string is palindrome
num = input("Enter a number to check Palindrome or not: ")

if num == num[::-1]:
    print("Is", num, "a palindrome? Yes ")
else:
    print("Is", num, "a palindrome? No ")

Enter a number to check Palindrome or not: 898
Is 898 a palindrome? Yes

In [56]:
# 9. Print all 3-digit Armstrong numbers

print(" Armstrong numbers between 100 and 999:")
for num in range(100, 1000):

    digits = [int(d) for d in str(num)]
    if sum(d**3 for d in digits) == num:

        print(   num, end=' ')
print( )

 Armstrong numbers between 100 and 999:
153 370 371 407

In [57]:
# 10. Menu-based calculator using conditions

a = float(input("Enter first number: "))

op = input("Enter operator (+, -, *, /): ")

b = float(input("Enter second number: "))

print("Calculator OUTPUT")

if op == '+':
    print("Result:", a + b)
elif op == '-':
    print("Result:", a - b)
elif op == '*':
    print("Result:", a * b)
elif op == '/':
    if b != 0:
        print("Result:", a / b)
    else:
        print("Error: Cannot divide by zero.")
else:
    print("Invalid operator.")

Enter first number: 6
Enter operator (+, -, *, /): /
Enter second number: 2
Calculator OUTPUT
Result: 3.0