<a href="https://colab.research.google.com/github/BikramAI-eng/PYTHOnASSIgnment/blob/main/Datastructure_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
# 1. Remove duplicates from a list

print("Remove Duplicates from a List")
numbers = [1, 2, 2, 3, 4, 4, 5, 5, 8, 9, 9]

x = list(set(numbers))
print("Unique numbers:", x)

Remove Duplicates from a List
Unique numbers: [1, 2, 3, 4, 5, 8, 9]

In [38]:
# 2. Find max and min from a tuple

num = (3, 7, 1, 9, 2, 6, 5)

print("Max value:", max(num))

print("Min value:", min(num))

Max value: 9
Min value: 1

In [39]:
# 3. Return only even numbers from a list
even = list(range(2, 51, 2))
print("Even numbers from 2 to 100:", even)

Even numbers from 2 to 100: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [40]:
# 4. Count each character in a string using dictionary
s = "PULCHOWK_CAMPUS"
char_count = {}
for ch in s:
    char_count[ch] = char_count.get(ch, 0) + 1
print("Character count in 'PULCHOWK':", char_count)

Character count in 'PULCHOWK': {'P': 2, 'U': 2, 'L': 1, 'C': 2, 'H': 1, 'O': 1, 'W': 1, 'K': 1, '_': 1, 'A': 1, 'M': 1, 'S': 1}

In [41]:
# 5. Check if a number exists in a predefined set of primes
primes = {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47}
n = 13
print("Is", n, "a prime less than 50?", n in primes)

Is 13 a prime less than 50? True

In [42]:
# 6. Find common elements (intersection) of two lists
list1 = [1, 2, 3, 4, 5, 9]
list2 = [3, 4, 5, 6, 0, 10]
intersection = list(set(list1) & set(list2))
print("Common elements among both list:", intersection)

Common elements among both list: [3, 4, 5]

In [43]:
# 7. Merge two dictionaries and add values of common keys
d1 = {'a': 100, 'b': 200}
d2 = {'b': 300, 'c': 400}
merged = {k: d1.get(k, 0) + d2.get(k, 0) for k in set(d1) | set(d2)}
print("Merged dictionary with added values:", merged)

Merged dictionary with added values: {'c': 400, 'a': 100, 'b': 500}

In [44]:
# 8. Count how many times each name appears
names = ["BIKRAM", "BABY", "HARI", "MUKESH" ,"BIKRAM"]
name_count = {}
for name in names:
    name_count[name] = name_count.get(name, 0) + 1
print(" Name count:", name_count)

 Name count: {'BIKRAM': 2, 'BABY': 1, 'HARI': 1, 'MUKESH': 1}

In [45]:
# 9. Remove elements in list1 that are also in list2
listA = [1, 2, 3, 9, 7, 4]
listB = [2, 4]
filter = [x for x in listA if x not in listB]
print("Filtered list (excluding common):", filter)

Filtered list (excluding common): [1, 3, 9, 7]

In [46]:
# 10. Search for a key in a dictionary
data = {"name": "Bikram", "roll": "644345"}
key = "name"
print(f"Value for key '{key}':", data.get(key, "Not found"))

Value for key 'name': Bikram