<a href="https://colab.research.google.com/github/BikramAI-eng/PYTHOnASSIgnment/blob/main/lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class Book:
    # Constructor: runs when we create a new Book object
    def __init__(self, title, author, price):
        self.title = title
        self.author = author
        self.price = price

    # This method prints book details in a nice format
    def display_info(self):
        print(f"Title: {self.title}")
        print(f"Author: {self.author}")
        print(f"Price: {self.price}")

    # This method updates the book price
    def update_price(self, new_price):
        self.price = new_price
        print(f" Price updated to {self.price}")


# --- Example usage ---
book1 = Book("The Great Gatsby", "F. Scott Fitzgerald", 499)

print("Original Book Info:")
book1.display_info()

print("\nUpdating Price...")
book1.update_price(599)

print("\nAfter Update:")
book1.display_info()

Original Book Info:
Title: The Great Gatsby
Author: F. Scott Fitzgerald
Price: 499

Updating Price...
 Price updated to 599

After Update:
Title: The Great Gatsby
Author: F. Scott Fitzgerald
Price: 599

In [6]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def show_details(self):
        print(f" Name: {self.name}, Marks: {self.marks}")


# --- Creating 3 students ---
s1 = Student("Arjun", 91)
s2 = Student("Mahindra", 90)
s3 = Student("Chanchal", 78)

print("\nStudent Details:")
s1.show_details()
s2.show_details()
s3.show_details()

Student Details:
 Name: Arjun, Marks: 91
 Name: Mahindra, Marks: 90
 Name: Chanchal, Marks: 78

In [11]:
class BankAccount:
    def __init__(self, account_holder, account_number, balance=0):
        self.account_holder = account_holder
        self.account_number = account_number
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        print(f" Deposited {amount}. New balance = {self.balance}")

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print(f" Withdrew {amount}. New balance = {self.balance}")
        else:
            print("Insufficient funds!")

    def show_balance(self):
        print(f" Current Balance for {self.account_holder}: {self.balance}")


# --- Example demonstration ---
acc1 = BankAccount("Karisma", "ACC12345", 100000)

print("Initial Balance:")
acc1.show_balance()

print("\nDepositing money...")
acc1.deposit(5200)

print("\nWithdrawing money...")
acc1.withdraw(3100)

print("\nFinal Balance:")
acc1.show_balance()

Initial Balance:
 Current Balance for Karisma: 100000

Depositing money...
 Deposited 5200. New balance = 105200

Withdrawing money...
 Withdrew 3100. New balance = 102100

Final Balance:
 Current Balance for Karisma: 102100